*{
    font-family: 'Patrick Hand', cursive;
}

body{
    margin: 0px;
    background: rgb(75,76,93);
    background: linear-gradient(5deg, rgba(75,76,93,1) 4%, rgba(59,62,105,1) 21%, rgba(49,52,105,1) 33%, rgba(49,52,117,1) 63%, rgba(12,8,133,1) 81%);
}

header{
    display: flex;
    justify-content: space-between;
}

.top-score{
    background-color: orange;
    height: 50px;
    padding: 0px 10px;
    line-height: 15px;
    border-radius: 0px 0px 15px 0px;
    box-shadow: 0px 0px 15px 5px rgb(245, 173, 38);
    transition: all 0.3s ease;
}

.top-score:hover,
.score:hover{
    box-shadow: 0px 0px 15px 10px rgb(245, 173, 38);
}

.score{
    background-color: orange;
    height: 50px;
    padding: 0px 10px;
    line-height: 15px;
    border-radius: 0px 0px 0px 15px;
    box-shadow: 0px 0px 15px 5px rgb(245, 173, 38);
    transition: all 0.3s ease;
}

.menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(42, 195, 206);
    width: 60%;
    margin-top: 0px;
    margin-bottom: 45px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 15px 10px rgb(0, 255, 242);
    height: 50px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.menu:hover{
    height: 120px;
}

.top-menu{
    display: flex;
    justify-content: space-around;
}

#btn-newgame,
#btn-pause{
    line-height: 5px;
    font-size: 20px;
    margin: 5px 5px;
    padding: 15px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: rgb(117, 180, 252);
    box-shadow: 0px 0px 9px 2px rgb(111, 111, 196);
    transition: all 0.3s ease;
}

#btn-newgame:hover,
#btn-pause:hover{
    box-shadow: 0px 0px 15px 5px rgb(111, 111, 196);
}

.menu h1{
    margin: 0px;
}

.hide-div{
    display: none !important;
}

.fixed-div{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    opacity: .9;
    background-color: rgb(78, 219, 238);
}

.fixed-div-title{
    font-size: 50px;
    margin: 0px;
}

/*Class use in js new game*/
.btn-selected{
    background-color: rgb(255, 115, 0) !important;
    box-shadow: 0px 0px 9px 2px rgb(247, 132, 38) !important;
    transition: all 0.3s ease !important;
}

.btn-selected:hover{
    box-shadow: 0px 0px 15px 5px rgb(247, 132, 38) !important;
}
/*End */

.btn-gameselector{
    padding: 15px 50px;
    margin: 0px 15px;
    font-size: 25px;
    border-radius: 15px;
    border: none;
    background-color: #75B4FC;
    box-shadow: 0px 0px 9px 2px rgb(111, 111, 196);
    transition: all 0.3s ease;
}

.btn-gameselector:hover{
    box-shadow: 0px 0px 15px 5px rgb(111, 111, 196);
}

.btn-start{
    padding: 20px 60px;
    margin: 20px 0px;
    font-size: 35px;
    border-radius: 20px;
    border: none;
    background-color: rgb(141, 94, 6);
    box-shadow: 0px 0px 9px 2px rgb(141, 94, 6);
    transition: all 0.5s ease;
}

.btn-start:hover{
    background-color: orange;
    box-shadow: 0px 0px 15px 5px orange;
}
/*Image*/
.image-size{
    width: 30px;
    height: 30px;
    margin: 0 auto;
}
.image-left{
    transform: rotate(0deg);
}
.image-up{
    transform: rotate(90deg);
}
.image-right{
    transform: rotate(180deg);
}
.image-bottom{
    transform: rotate(270deg);
}
/*End Image*/
.container{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: grid;
    height: 95vh;
    grid-gap: 3px;
    box-shadow: 0px 0px 15px 10px rgb(84, 122, 226);
}

.col{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}